New_Project/MobileApi/MobileApi/MA2AAPI/Service References/BISWCF/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2114/BIS/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetSkyNetPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkyNetPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSkyNetPackagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inquiry2Biller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inquiry2BillerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inquiry2BillerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCanalPlusPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCanalPlusPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCanalPlusPackagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmToBiller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmToBillerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmToBillerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemSettingReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemSettingReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemSettingReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryListReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryListReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountryListReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepaymentServiceFeeReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepaymentServiceFeeReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RepaymentServiceFeeReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txnID" type="xs:long" />
        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doSMSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUnpairEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUnpairEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendUnpairEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OTPReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OTPReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OTPReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OTPReqV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OTPReqV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OTPReqV2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProfileReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileReqV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileReqV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProfileReqV2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransactionForPaymentAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taxID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ref1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ref2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locLatitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locLongitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productdesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paymentMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentBranchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransactionForPaymentAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTransactionForPaymentAPIResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="agentTxnID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionForPaymentAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txnID" type="xs:long" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ref1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ref2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAgreement" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="availablebalance" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionForPaymentAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTransactionForPaymentAPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRequestToPG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txnID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmRequestToPGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmRequestToPGResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateErrorWithAddBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rescode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resdesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txnID" type="xs:long" />
        <xs:element minOccurs="0" name="logerrormessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentID" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
        <xs:element minOccurs="0" name="isAgreement" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateErrorWithAddBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateErrorWithAddBalanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransactionInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txnID" type="xs:long" />
        <xs:element minOccurs="0" name="paymentMethod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTransactionInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTransactionInvoiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelenorBBInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TelenorBBInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TelenorBBInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FtthOrWtthInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FtthOrWtthInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FtthOrWtthInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MptPackageInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MptPackageInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MptPackageInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamiGasPackageInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamiGasPackageInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParamiGasPackageInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftCardDenoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taxId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftCardDenoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGiftCardDenoListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taxId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OoredooPackageInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OoredooPackageInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OoredooPackageInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTelPackageInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyTelPackageInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyTelPackageInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EventInquiryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerchantAcceptanceReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerchantAcceptanceReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MerchantAcceptanceReqResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAstrologerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taxId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAstrologerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAstrologerListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="B2BCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reqXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="B2BCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="B2BCancelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>